{% extends 'base.html' %}

{% block content %}
<div class="chat-container2">
    <div class="identity">
        <div>
           <a href="{% url 'index' %}">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-house"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
            />
            <path
              fill-rule="evenodd"
              d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
            />
          </svg>
           </a>
        </div>

        <h3>{{friend.profile.name}}</h3>

        <div class="pro-pic">
            <img src="{{friend.profile.pic.url}}" alt="profile-picture">
        </div>


    </div>

    <div class="sub-container">


        <div class="chat-body" id="chat-body">

            
            {% for chat in chats %}
            {% if chat.msg_sender == user and chat.msg_receiver == profile %}

            <div class="chat-box-sent">
                {{chat}}
            </div>

            {% elif chat.msg_sender == profile and chat.msg_receiver == user %}

            <div class="chat-box-received">
                {{chat}}
            </div>

            {% endif %}



            

            {% endfor %}


        

            <div class="chat-box-sent" id ="chat-box-sent" style="display: none">
               
            </div>

            
        </div>
    
        <form action="" id="myform" method="POST">
            {% csrf_token %}
            
            {{form.body}}
            
            <button type = "submit" id = "submit">Send</button>
        </form>


    </div>

   



</div>

<div class="reply-form">
    <h4>Commentaire</h4>
    <p></p>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col form-group">
          <label for="message">Commentaire</label>
          <textarea id="message" name="message" class="form-control" placeholder="Commentaire"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Post Comment</button>

    </form>

  </div>


{% endblock %}

